.expandable-list-grid {
    padding: 1px 1px 1px 1px;
    display: flex;
    flex-direction: column;
}

.expandable-list-box {
    background-color: white;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    /* margin: auto; */
    position: relative;
    width: 100%;
    max-width: 350px;
    padding: 5px;
}

.expandable-list-header {
    padding: 5px 5px 5px 5px;
    background-color: white;
}

.expandable-list-header:hover {
    background-color: gray;
}

.expandable-list-content {
    padding: 5px 5px 5px 5px;
}